.welcome__title {
  font-size: 3rem; }

.welcome__button {
  display: flex;
  justify-content: center;
  margin: 0 5px; }
  .welcome__button--left {
    justify-content: flex-end; }
  .welcome__button--right {
    justify-content: flex-start; }

.word-guess__word {
  letter-spacing: 10px;
  font-size: 6rem; }

.word-guess__chronology {
  display: flex;
  flex-direction: row; }

.word-guess__condemned {
  width: 18rem; }

.leaderboard-username {
  display: none;
  margin-top: 10px;
  flex-direction: column; }
  .leaderboard-username__button {
    margin-top: 5px; }

.letter-badge {
  height: 2rem !important;
  width: 2rem !important;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px; }

#elapsed-minutes, #elapsed-seconds, #errors-count {
  margin: 0 3px; }

.container {
  margin-top: 10px;
  margin-bottom: 10px; }

table {
  margin-top: 10px; }
