.word-guess {
    &__title {

    }

    &__subtitle {

    }

    &__word {
        letter-spacing: 10px;
        font-size: 5vw;
        overflow: hidden;
    }

    &__chronology {
        display: flex;
        flex-direction: column;

        &__list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__condemned {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 15rem;
        }
    }
}
