.welcome {
    &__title {
        font-size: 3rem;
    }

    &__button {
        display: flex;
        justify-content: center;
        margin: 0 5px;

        &--left {
            justify-content: flex-end;
        }

        &--right {
            justify-content: flex-start;
        }
    }
}
